$rounds: (
  "sm": 0.25rem,
  "md": 0.5rem,
  "lg": 0.5rem,
);

$spaces: (
  "xs": 0.5rem,
  "sm": 0.75rem,
  "md": 1rem,
  "lg": 1.25rem,
  "xl": 1.5rem,
);

$fontSizes: (
  "xs": 0.5rem,
  "sm": 0.75rem,
  "md": 1rem,
  "lg": 1.25rem,
  "xl": 1.5rem,
);

$fontWeight: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$colors: (
  "error": red,
  "text": black,
  "link-text": blue,
);
