.ty-text-link {
  position: relative;
  font-size: map-get($fontSizes, "md");
  text-decoration: none;
  color: map-get($colors, "link-text");

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: map-get($colors, "link-text");
  }

  &:hover {
    opacity: 0.6;
    transition: opacity 160ms ease-out;
  }
}
